<main>
  <p id = "notice"><%= notice %></p>
  <div class = "container">
    <!-- 部分テンプレートでここにrowがある-->
      <%= render 'users/form', user: @book.user, book: @book_new %><!-- サイドバーのプロフィール表示を投稿者にするため@book.userで紐づける -->
      <div class = "col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class = "table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user) do %><!-- 投稿したユーザーの詳細ページへ -->
                  <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %><br>
                  <%= @book.user.name %><!-- 投稿者名 -->
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book) do %>
                  <%= @book.title %>
                <% end %>
              </td>
              <td><%= @book.body %></td>
              <td>
                <% if @book.favorited_by?(current_user) %> <!-- 投稿に付けられた『いいね』に自分（ログインユーザー）が含まれているか -->
                <p> <!-- 含まれている場合 -->
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    ♥<%= @book.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p> <!-- 含まれていない場合 -->
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    ♡<%= @book.favorites.count %> いいね
                  <% end %>
                </p>
                <% end %>
              </td>
              <% if @book.user == current_user %><!-- もし、投稿者 == 現在ログインしているユーザ だったら -->
                <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- rowのdiv -->
  </div>
</main>