<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2R</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-dark bg-dark"> <!-- .navbar-navクラスのflex-directionはデフォルトでcolumnになっているので、縦並びになる。PCレイアウトの時に横並びにするにはnavに"navbar-expand-xxを指定。" -->
        <div class = "container">
          
          <%= link_to root_path, class: "navbar-brand" do %>
            <span>Bookers</span>
          <% end %>
          
          <ul class = "navbar-nav ml-auto">
            <% if user_signed_in? %><!-- ログイン後 -->
              <li>
                <%= link_to " Home", user_path(current_user.id), class: "fas fa-home nav-link text-light" %> <!-- 現在ログインしているユーザー（マイページ）へのリンク -->
              </li>
              <li>
                <%= link_to " Users", users_path, class: "fas fa-users nav-link text-light" %>
              </li>
              <li>
                <%= link_to " Books", books_path, class: "fas fa-book-open nav-link text-light" %>
              </li>
              <li>
                <%= link_to " logout", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
              </li>
            
            <% else %><!-- ログイン前 -->
              <li>
                <%= link_to " Home", root_path, class: "fas fa-home nav-link text-light" %>
              </li>
              <li>
                <%= link_to " About", about_homes_path, class: "fas fa-link nav-link text-light" %>
              </li>
              <li>
                <%= link_to " sign up", new_user_registration_path, class: "fas fa-user-plus nav-link text-light" %>
              </li>
              <li>
                <%= link_to " login", new_user_session_path, class: "fas fa-sign-in-alt nav-link text-light" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>